* {
	box-sizing: border-box;
}

body {
	background-image: url(https:"https://images.unsplash.com/photo-1472791108553-c9405341e398?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE3MzYxfQ&auto=format&fit=crop&w=1408&q=80");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:  fixed;
	background-attachment: fixed;
	position: fixed;
	z-index: -1;
 }

 .topnav {
 	background-color:#222222;
 	padding: 5px;
 }

 .topnav a { 
 font-size: 50px;
 font-family: :arial;
 color:#ffffff;
 text-decoration: none;
 padding: 50px;
}

.topnav a:hover {
	color:#ffcc33
	background-color: #888888;

}

